{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container mt-5 pt-5 color-text">
        <div class="row">
            <div class="col-4">
                <img src="{{ series.imageUrl }}" class="cover-large pe-3" alt=""
                     onerror="this.src='{{ asset('img/image_not_found.png') }}'">
            </div>
            <div class="col-8">
                <h1 class="text-center pb-5">{{ series.title }}</h1>
                {% if (app.session.get('jwt') != null) %}
                    {% if (app.request.attributes.get('_route_params')['list'] == 'in_progress') %}
                        {{ form_start(temporaryMarksForm) }}
                        <div class="row justify-content-center align-items-end mb-5">
                            {% if not series.isFilm %}
                                <div class="col-2">
                                    {{ form_row(temporaryMarksForm.season, {'value': seriesList.season}) }}
                                </div>
                                <div class="col-2">
                                    {{ form_row(temporaryMarksForm.episode, {'value': seriesList.episode}) }}
                                </div>
                            {% endif %}
                            <div class="col-3">
                                {{ form_row(temporaryMarksForm.time, {'value': seriesList.time}) }}
                            </div>
                            <div class="col-1">
                                {{ form_row(temporaryMarksForm.save) }}
                            </div>
                        </div>
                        {{ form_end(temporaryMarksForm) }}
                    {% endif %}
                    {% if app.request.attributes.get('_route_params')['list'] != 'search' %}
                        <form method="POST" action="{{ path('rating_save', {
                        'list': app.request.attributes.get('_route_params')['list'],
                        'apiId': series.apiId}) }}">
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-5 text-center">
                            <label class="userStarsLabel" for="globalStars">Global rating</label>
                        </div>
                        {% if app.request.attributes.get('_route_params')['list'] != 'search' %}
                            <div class="col-5 text-center">
                                <label class="userStarsLabel" for="userStars">My rating</label>
                                <button class="btn btn-save material-icons" id="star-btn" type="submit">
                                    save
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row justify-content-center mb-5">
                        <div class="col-5 text-center stars" id="globalStars">
                            <input disabled class="star star-5" id="averageStar5" type="radio" name="globalStar"
                                   value="5"
                                    {% if averageRating != null and averageRating == 5 %} checked {% endif %}/>
                            <label class="star star-5" for="averageStar5"></label>

                            <input disabled class="star" id="averageStar4" type="radio" name="globalStar" value="4"
                                    {% if averageRating != null and averageRating == 4 %} checked {% endif %}/>
                            <label class="star" for="averageStar4"></label>

                            <input disabled class="star" id="averageStar3" type="radio" name="globalStar" value="3"
                                    {% if averageRating != null and averageRating == 3 %} checked {% endif %}/>
                            <label class="star" for="averageStar3"></label>

                            <input disabled class="star" id="averageStar2" type="radio" name="globalStar" value="2"
                                    {% if averageRating != null and averageRating == 2 %} checked {% endif %}/>
                            <label class="star" for="averageStar2"></label>

                            <input disabled class="star star-1" id="averageStar1" type="radio" name="globalStar"
                                   value="1"
                                    {% if averageRating != null and averageRating == 1 %} checked {% endif %}/>
                            <label class="star star-1" for="averageStar1"></label>
                        </div>
                        {% if app.request.attributes.get('_route_params')['list'] != 'search' %}
                            <div class="col-5 text-center stars" id="userStars">
                                <input type="hidden" name="seriesId" value="{{ series.id }}"/>

                                <input class="star star-5" id="userStar5" type="radio" name="userStar" value="5"
                                        {% if userRating != null and userRating.value == 5 %} checked {% endif %}/>
                                <label class="star star-5" for="userStar5"></label>

                                <input class="star" id="userStar4" type="radio" name="userStar" value="4"
                                        {% if userRating != null and userRating.value == 4 %} checked {% endif %}/>
                                <label class="star" for="userStar4"></label>

                                <input class="star" id="userStar3" type="radio" name="userStar" value="3"
                                        {% if userRating != null and userRating.value == 3 %} checked {% endif %}/>
                                <label class="star" for="userStar3"></label>

                                <input class="star" id="userStar2" type="radio" name="userStar" value="2"
                                        {% if userRating != null and userRating.value == 2 %} checked {% endif %}/>
                                <label class="star" for="userStar2"></label>

                                <input class="star star-1" id="userStar1" type="radio" name="userStar" value="1"
                                        {% if userRating != null and userRating.value == 1 %} checked {% endif %}/>
                                <label class="star star-1" for="userStar1"></label>
                            </div>
                        {% endif %}
                    </div>
                    {% if app.request.attributes.get('_route_params')['list'] != 'search' %}
                        </form>
                    {% endif %}
                    <div class="row mb-4">
                        {% if inFavourites == false %}
                            <div class="col-3">
                                <a class="btn btn-form" role="button"
                                   href="{{ path('series_list_post', {
                                       'list': app.request.attributes.get('_route_params')['list'],
                                       'type': 'favourites',
                                       'apiId': series.apiId}) }}">
                                    Add to "Favourites"
                                </a>
                            </div>
                        {% endif %}
                        {% if inIncompatibleList == false %}
                            <div class="col-3">
                                <a class="btn btn-form" role="button"
                                   href="{{ path('series_list_post', {
                                       'list': app.request.attributes.get('_route_params')['list'],
                                       'type': 'to_watch',
                                       'apiId': series.apiId}) }}">
                                    Add to "To watch"
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-form" role="button"
                                   href="{{ path('series_list_post', {
                                       'list': app.request.attributes.get('_route_params')['list'],
                                       'type': 'in_progress',
                                       'apiId': series.apiId}) }}">
                                    Add to "In progress"
                                </a>
                            </div>
                        {% endif %}
                        {% if app.request.attributes.get('_route_params')['list'] == 'to_watch' %}
                            <div class="col-3">
                                <a class="btn btn-form" role="button"
                                   href="{{ path('series_list_start_watching', {
                                       'list': app.request.attributes.get('_route_params')['list'],
                                       'apiId': series.apiId,
                                       'seriesListId': seriesList.id}) }}">
                                    Start watching
                                </a>
                            </div>
                        {% endif %}
                        {% if app.request.attributes.get('_route_params')['list'] != 'search' %}
                            <div class="col-3">
                                <a class="btn btn-form" role="button"
                                   href="{{ path('series_list_delete', {
                                       'list': app.request.attributes.get('_route_params')['list'],
                                       'apiId': series.apiId,
                                       'seriesListId': seriesList.id}) }}">
                                    Remove
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <h2>Synopsis</h2>
                <p>{{ series.synopsis }}</p>
            </div>
        </div>
        <h2 class="mt-5">Comments</h2>
        <hr class="border border-1 mt-1 mb-4">
        {% if app.session.get('jwt') != null and app.request.attributes.get('_route_params')['list'] != 'search' %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.text) }}
            <div class="text-end">
                {{ form_row(commentForm.comment) }}
            </div>
            {{ form_end(commentForm) }}
        {% endif %}
        {% if comments != null %}
            {% for comment in comments|reverse %}
                <h5 class="mb-0"><strong>{{ comment.user.username }}</strong></h5>
                <h6 class="mb-1"><small>{{ comment.datetime }}</small></h6>
                <p class="mb-4 comment-text">{{ comment.text }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block sectiontitle %}Series{% endblock %}