{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="d-flex flex-wrap justify-content-center align-items-center mt-5 results">
        {% for series in seriesList %}
            <figure class="text-center">
                <figcaption class="cover-title mx-5">{{ series.series.title }}</figcaption>
                <a href="{{ path('series', {
                    'list': app.request.attributes.get('_route'),
                    'apiId': series.series.apiId
                }) }}">
                    <img src="{{ series.series.imageUrl }}" class="mx-5 mb-4 mt-2 cover"
                         alt="{{ series.series.title }}">
                </a>
            </figure>
        {% endfor %}
    </div>
{% endblock %}
{% block sectiontitle %}Search results{% endblock %}